<form action="/action_page.php">
    <label for="name">Name:</label><br>
    <input type="text" id="name" class="form-control" name="name" [(ngModel)]="myItem.name"><br>
    <label for="price">Price:</label><br>
    <input type="number" id="price" class="form-control" name="price"  [(ngModel)]="myItem.price"><br>
    <label for="quantity">Quantity:</label><br>
    <input type="number" id="quantity" class="form-control" name="quantity"  [(ngModel)]="myItem.quantity"><br><br>
    <button (click)="goback()">Save</button>
    <!-- <input type="submit" value="Submit"> -->
  </form> 
