<div class="pos-f-t nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <img src="assets/avatar.png" alt="Avatar" style="width:40px;" class="rounded-pill">
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">View Profile</a></li>
        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
        <li><a class="dropdown-item" href="#">Portfolio</a></li>
        <li><a class="dropdown-item" href="#">Watchlist</a></li>
        <li><a class="dropdown-item" href="#">Notification</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
    </div>
</div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <footer>copyright BSSE1216</footer> -->